@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*!-----------reset--------------*/

* {
    margin: 0;
    padding: 0;
    font-family: poppins;
}

/*!-----------header------------*/

.tamaño-titulo {
    font-size: 60px;
}

.navbar-a-la-derecha {
    justify-content: flex-end;
}


/*!-----------main-carousel----------*/


.color-fondo-uno {
    background-color: #14141b;
}

.posicion {
    padding-top: 120px;
    padding-bottom: 10px;
}


/*!----------index-noticias----------*/


.titulo {
    color: white;
    padding: 30px;
    background-color: black;
    text-align: center;
}

.titulo a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 30px;
}

.secundarias {
    background-color: black;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.secundarias div {
    padding: 10px;
}

.secundarias div img {
    width: 325px;
}

.secundarias div a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    grid-template-areas:
        "noticia-1 noticia-2 noticia-5 noticia-7"
        "noticia-3 noticia-4 noticia-6 noticia-7";
    align-items: baseline;
}


.container-1 div h6 {
    padding-top: 15px;
}

.noticia-1 {
    grid-area: noticia-1;
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}

.noticia-2 {
    grid-area: noticia-2;
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}


.noticia-3 {
    grid-area: noticia-3;
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}

.noticia-4 {
    grid-area: noticia-4;
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}

.noticia-5 {
    grid-area: noticia-5;
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}

.noticia-6 {
    grid-area: noticia-6;
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}

.noticia-7 {
    display: flex;
    justify-content: center;
    grid-area: noticia-7;
    background-color: #14141bab;
    border-radius: 9px;
    flex-direction: column;
    box-shadow: 0px 1px 10px rgba(255, 3, 3, 0.863);
    width: 400px;
}

.noticia-7 a img {
    width: 380px;
}

.hardware {
    text-align: center;
    font-size: 25px;
}

.noticia-7 a h6 {
    font-size: 20px;
}

/*!-------index-videos------*/

.titulo-dos {
    background-color: #14141b;
    padding: 30px;
    text-align: center;
    color: white;
}

.titulo-dos a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 30px;
}

.videos {
    background-color: #14141b;
    display: flex;
    justify-content: space-evenly;
    padding: 0 15px 30px 15px;
}

.videos article {
    padding: 10px;
    display: inline-block
}

.videos article a {
    display: flex;
    text-decoration: none;
    list-style: none;
    color: white;
    justify-content: center;
}

/*!-------index-n-random------*/

.terciarias {
    background-color: black;
}

.terciarias a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "noticiarandom-1 noticiarandom-2 noticiarandom-3 noticiarandom-7"
        "noticiarandom-4 noticiarandom-5 noticiarandom-6 noticiarandom-8";
    grid-auto-flow: row;
    justify-items: center;
    padding: 10px 100px 30px 100px;
}

.noticiarandom-1 {
    grid-area: noticiarandom-1;
    width: 355px;
}

.noticiarandom-2 {
    grid-area: noticiarandom-2;
    width: 355px;
}

.noticiarandom-3 {
    grid-area: noticiarandom-3;
    width: 355px;
}

.noticiarandom-4 {
    grid-area: noticiarandom-4;
    width: 355px;
}

.noticiarandom-5 {
    grid-area: noticiarandom-5;
    width: 355px;
}

.noticiarandom-6 {
    grid-area: noticiarandom-6;
    width: 355px;
}

.noticiarandom-7 {
    grid-area: noticiarandom-7;
    width: 355px;
}

.noticiarandom-8 {
    grid-area: noticiarandom-8;
    width: 355px;
}

/*!-------index-análisis------*/

.titulo-dos {
    background-color: #14141b;
    padding: 30px;
    text-align: center;
    color: white;
}

.titulo-dos a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.analisis-juegos {
    background-color: #14141b;
}

.analisis-juegos div {
    padding: 15px;
}

.analisis-juegos a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "analisis-1 analisis-3 analisis-5"
        "analisis-2 analisis-4 analisis-6"
        "analisis-7 analisis-8 analisis-9";
    justify-items: center;
}

.container-3 div a h6 {
    padding: 15px;
}

.analisis-1 {
    grid-area: analisis-1;
    width: 335px;
}

.analisis-2 {
    grid-area: analisis-2;
    width: 335px;
}

.analisis-3 {
    grid-area: analisis-3;
    width: 335px;
}

.analisis-4 {
    grid-area: analisis-4;
    width: 335px;
}

.analisis-5 {
    grid-area: analisis-5;
    width: 335px;
}

.analisis-6 {
    grid-area: analisis-6;
    width: 335px;
}

.analisis-7 {
    grid-area: analisis-7;
    width: 335px;
}

.analisis-8 {
    grid-area: analisis-8;
    width: 335px;
}

.analisis-9 {
    grid-area: analisis-9;
    width: 335px;
}


/*!-------noticias-principales------*/


.secundarias-dos {
    background-color: #14141b;
    padding: 160px 200px 10px 200px;
}

.secundarias-dos p {
    color: white;
    font-size: 20px
}

.titulo-dos-noticias {
    background-color: #14141b;
    padding: 30px;
    text-align: center;
    color: white;
}

.titulo-dos-noticias a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 30px;
}

.container-4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "noticiasp-1 noticiasp-2 noticiasp-9"
        "noticiasp-3 noticiasp-4 noticiasp-10"
        "noticiasp-5 noticiasp-6 noticiasp-11"
        "noticiasp-7 noticiasp-8 noticiasp-12";
    justify-items: center;
    padding: 30px 250px 0 250px;
    background-color: #14141b;
}

.container-4 div a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-4 div a h6 {
    padding: 15px;
}

.noticiasp-1 {
    grid-area: noticiasp-1;
    width: 410px;
}

.noticiasp-2 {
    grid-area: noticiasp-2;
    width: 410px;
}

.noticiasp-3 {
    grid-area: noticiasp-3;
    width: 410px;
}

.noticiasp-4 {
    grid-area: noticiasp-4;
    width: 410px;
}

.noticiasp-5 {
    grid-area: noticiasp-5;
    width: 410px;
}

.noticiasp-6 {
    grid-area: noticiasp-6;
    width: 410px;
}

.noticiasp-7 {
    grid-area: noticiasp-7;
    width: 410px;
}

.noticiasp-8 {
    grid-area: noticiasp-8;
    width: 410px;
}

.noticiasp-9 {
    grid-area: noticiasp-9;
    width: 410px;
}

.noticiasp-10 {
    grid-area: noticiasp-10;
    width: 410px;
}

.noticiasp-11 {
    grid-area: noticiasp-11;
    width: 410px;
}

.noticiasp-12 {
    grid-area: noticiasp-12;
    width: 410px;
}

/*!-------noticias-random------*/

.terciarias-dos {
    background-color: black;
}

.container-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "random-1 random-2"
        "random-3 random-4"
        "random-5 random-6"
        "random-7 random-8";
    justify-items: center;
    padding: 0 350px 0 350px;
}

.container-5 div a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-5 div a h6 {
    padding: 15px;
}

.random-1 {
    grid-area: random-1;
    width: 355px;
}

.random-2 {
    grid-area: random-2;
    width: 355px;
}

.random-3 {
    grid-area: random-3;
    width: 355px;
}

.random-4 {
    grid-area: random-4;
    width: 355px;
}

.random-5 {
    grid-area: random-5;
    width: 355px;
}

.random-6 {
    grid-area: random-6;
    width: 355px;
}

.random-7 {
    grid-area: random-7;
    width: 355px;
}

.random-8 {
    grid-area: random-8;
    width: 355px;
}

/*!-------noticias-hardware------*/

.container-6 {
    background-color: #14141b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "hardware-1 hardware-3"
        "hardware-2 hardware-4"
        "hardware-5 hardware-5";
    justify-items: center;
    padding: 30px 250px 30px 250px;
}

.container-6 div a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-6 div a h6 {
    padding: 15px;
}

.hardware-1 {
    grid-area: hardware-1;
    width: 610px;
    height: 450px;
}

.hardware-2 {
    grid-area: hardware-2;
    width: 610px;
    height: 450px;
}

.hardware-3 {
    grid-area: hardware-3;
    width: 610px;
    height: 450px;
}

.hardware-4 {
    grid-area: hardware-4;
    width: 610px;
    height: 450px;
}

.hardware-5 {
    grid-area: hardware-5;
    width: 800px;
    height: 600px;
    border-radius: 9px;
    box-shadow: 0px 1px 10px rgba(255, 3, 3, 0.863);
}

/*!----noticia-thelastofus----*/

.color-fondo{
    background-color: #14141b;
}

.noticiatlou{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.noticiatlou div p{
    padding:0 70px 0 70px;
}

.noticiathelastofus{
    background-color: white;
    width: 1200px;
    padding: 160px 100px 20px 100px;
}

.noticiathelastofus h1{
    padding: 15px;
}

.noticiathelastofus h4{
    padding: 30px;
}
.noticiathelastofus img{
    width: 1000px;
}

.noticiathelastofus-dos{
    background-color: white;
    width: 1200px;
    padding: 0 100px 20px 100px;
}

.noticiathelastofus-dos img{
    width: 1000px;
}

.noticiathelastofus-tres{
    background-color: white;
    width: 1200px;
    padding: 0 100px 20px 100px;
}

.noticiathelastofus-tres h2{
    padding: 10px;
    text-align: center;
}



/*!-------análisis------*/


.analisis-texto {
    background-color: #14141b;
    padding: 160px 200px 30px 200px;
}

.analisis-texto p {
    color: white;
    font-size: 20px;
}

/*!-------análisis-ranking------*/

.ranking {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px grey;
}

.ranking article {
    border: 1px solid grey;
    width: 950px;
    padding: 15px 10px 15px 10px;
}

.ranking article a {
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    align-items: center;
}

.ranking article a h6 {
    padding: 15px;
}


/*!-------videos-trailers------*/


.videos-texto {
    background-color: #14141b;
    padding: 160px 200px 30px 200px;
}

.videos-texto p {
    color: white;
    font-size: 20px;
}

.trailers {
    background-color: #14141b;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 250px 50px 250px;
    ;
}

.trailers a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.trailers article {
    border: 1px solid rgba(128, 128, 128, 0.356);
    border-radius: 9px;
    align-items: center;
    padding: 30px;
    width: 620px;
    background-color: rgba(0, 0, 0, 0.295);
}

.walkthrough {
    background-color: black;
    padding: 30px 250px 50px 250px;
}

.walkthrough a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.walkthrough div {
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
    align-items: center;
    padding: 30px;
    width: 620px;
    background-color: #14141bbd;
}

.container-7 {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 30px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "walk-1 walk-2"
        "walk-3 walk-4";
}


.walk-1 {
    grid-area: walk-1;
}

.walk-2 {
    grid-area: walk-2;
}

.walk-3 {
    grid-area: walk-3;
}

.walk-4 {
    grid-area: walk-4;
}

/*!-------videos-esports------*/

.esports {
    background-color: #14141b;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 250px 50px 250px;
}

.esports a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.esports article {
    border: 1px solid rgba(128, 128, 128, 0.486);
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.295);
}


/*!-------géneros------*/


.generos-texto {
    background-color: #14141b;
    padding: 160px 200px 30px 200px;
}

.generos-texto p {
    color: white;
    font-size: 20px;
}

.generos {
    background-color: #14141b;
}

.generos a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    padding: 15px;
}

.container-8 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "generos-1 generos-2 generos-3 generos-4"
        "generos-5 generos-6 generos-7 generos-8"
        "generos-9 generos-10 generos-11 generos-12";
}

.container-8 {
    padding: 30px 250px 30px 250px;

}

.generos-1 {
    grid-area: generos-1;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-2 {
    grid-area: generos-2;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-3 {
    grid-area: generos-3;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-4 {
    grid-area: generos-4;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-5 {
    grid-area: generos-5;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-6 {
    grid-area: generos-6;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-7 {
    grid-area: generos-7;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-8 {
    grid-area: generos-8;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-9 {
    grid-area: generos-9;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-10 {
    grid-area: generos-10;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-11 {
    grid-area: generos-11;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.generos-12 {
    grid-area: generos-12;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

/*!-------géneros-ejemplo-selección-rol------*/

.container-9 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "accion-1 accion-2 accion-3"
        "accion-4 accion-5 accion-6"
        "accion-7 accion-8 accion-9";
    justify-items: center;
}

.container-9 {
    background-color: black;
    padding: 30px 150px 30px 150px;

}

.container-9 div a {
    text-decoration: none;
    list-style: none;
    color: white;
}

.container-9 div a p {
    padding: 15px;
}

.accion-1 {
    grid-area: accion-1;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}


.accion-2 {
    grid-area: accion-2;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-3 {
    grid-area: accion-3;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-5 {
    grid-area: accion-5;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-4 {
    grid-area: accion-4;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-6 {
    grid-area: accion-6;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-7 {
    grid-area: accion-7;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-8 {
    grid-area: accion-8;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}

.accion-9 {
    grid-area: accion-9;
    width: 503px;
    border: 1px solid rgba(128, 128, 128, 0.527);
    border-radius: 6px;
}


/*!-------contacto------*/


.nosotros-somos {
    background-color: #14141b;
    padding: 160px 200px 30px 200px;
}

.nosotros-somos h2 {
    background-color: #14141b;
    padding: 15px;
    text-align: center;
    color: white;
}

.nosotros-somos p {
    color: white;
    font-size: 20px;
}

.nosotros-somos-dos {
    background-color: #14141b;
    padding: 50px 200px 30px 200px;
}

.nosotros-somos-dos p {
    color: white;
    font-size: 20px;
}

/*!------puntuación-----*/

.puntua {
    background-color: #14141b;
    padding: 30px 200px 30px 200px;
}

.puntua div {
    color: white;
}


/*!------footer-----*/


.titulo-footer {
    color: white;
    padding-top: 30px;
    background-color: black;
    text-align: center;
}

.titulo-footer a {
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 30px;
}

.contacto {
    background-color: black;
}


/*!-----@media---index-----*/


@media (max-width: 1625px) {
    .container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas:
            "noticia-1 noticia-2 noticia-3"
            "noticia-4 noticia-5 noticia-6"
            "noticia-7 noticia-7 noticia-7";
        justify-items: center;
        align-items: center;
        padding: 0px 100px 100px 100px;
    }

    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "noticiarandom-1 noticiarandom-2 noticiarandom-3"
            "noticiarandom-4 noticiarandom-5 noticiarandom-6"
            "noticiarandom-7 noticiarandom-8 .";
        justify-content: center;
    }

    .container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "analisis-1 analisis-3"
            "analisis-5 analisis-4"
            "analisis-2 analisis-6"
            "analisis-7 analisis-8"
            "analisis-9 .";
        justify-items: center;
    }
}

@media (max-width: 1275px) {
    .w-60 {
        width: 850px;
    }

    .container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "noticia-1 noticia-2"
            "noticia-3 noticia-4"
            "noticia-5 noticia-6"
            "noticia-7 noticia-7";
        justify-items: center;
        align-items: center;
        padding: 0 100px 100px 100px;
    }

    .container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "noticiarandom-1 noticiarandom-2"
            "noticiarandom-3 noticiarandom-4"
            "noticiarandom-5 noticiarandom-6"
            "noticiarandom-7 noticiarandom-8";
        justify-content: center;
    }

    .analisis-juegos {
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 900px) {
    .w-60 {
        width: 600px;
    }

    .fs-5 {
        font-size: 16px !important;
    }

    .container-1 {
        display: flex;
        flex-direction: column;
    }

    .noticia-7 {
        display: flex;
        justify-content: center;
        background-color: #14141bab;
        border-radius: 9px;
        flex-direction: column;
        box-shadow: 0px 1px 10px rgba(255, 3, 3, 0.863);
        width: 300px;
    }

    .noticia-7 a img {
        width: 280px;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .w-60 {
        width: 500px;
    }

    .videos article iframe {
        width: 480px;
    }
}

@media (max-width: 520px) {
    .w-60 {
        width: 340px;
    }

    .secundarias div {
        padding: 0;
    }

    .container-1 div {
        width: 300px;
    }

    .container-1 div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-1 div a img {
        width: 280px;
    }

    .container-1 div a h6 {
        padding: 5px;
    }

    .noticia-7 a h6 {
        font-size: 15px;
    }

    .container-2 div {
        width: 300px;
    }

    .container-2 div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-2 div a img {
        width: 280px;
    }

    .videos article iframe {
        width: 300px;
    }
}


/*!-----------@mediaq---noticias------*/


@media (max-width: 1720px) {
    .container-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "noticiasp-1 noticiasp-2"
            "noticiasp-3 noticiasp-4"
            "noticiasp-5 noticiasp-6"
            "noticiasp-7 noticiasp-8"
            "noticiasp-9 noticiasp-10"
            "noticiasp-11 noticiasp-12";
        justify-items: center;
        padding: 30px 90px 20px 90px;
        background-color: #14141b;
    }

    .container-5 {
        padding: 0 100px 0 100px;
    }

    .container-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .secundarias-dos {
        display: none;
    }

    .titulo-dos-noticias {
        padding: 150px 0 10px 0;
    }

    .container-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hardware-5 {
        height: 0%;
    }

    .container-6 div {
        width: 450px;
    }

    .container-6 div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-6 div a img {
        width: 400px;
    }

    .container-6 div a h6 {
        text-align: center;
        padding: 5px;
    }
}

@media (max-width: 550px) {
    .titulo-dos-noticias {
        padding: 150px 0 10px 0;
    }

    .container-4 {
        background-color: #14141b;
    }

    .container-4 div {
        width: 300px;
        height: 320px;
    }

    .container-4 div a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-4 div a img {
        width: 280px;
    }

    .container-5 {
        padding: 0;
    }

    .container-5 div {
        width: 300px;
        height: 320px;
    }

    .container-5 div a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-5 div a img {
        width: 280px;
    }

    .container-6 {
        padding: 0 0 15px 0;
    }

    .container-6 div {
        width: 300px;
        height: 320px;
    }

    .container-6 div a img {
        width: 280px;
    }

    .hardware-5 {
        width: 300px;
        height: 300px;
        padding: 0 0 10px 0;
    }
}